.container,
.articles {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container button {
  font-size: 2rem;
}

.articles {
  margin-top: 60px;
}
